* ::before , ::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1{
    text-align: center;
}
:root{
    --hue-neutral: 210;
    --hue-correct: 120;
    --hue-wrong: 0;
}
body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);

}
body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong);
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 24px;
}

.btn_grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid #003366;
    border-radius: 5px;
    padding: 5px 10px;
    background-color : #3195fa;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct); 
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}
#start , #next {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #003366 ;
    background-color: #3195fa ;
    color: white;
    
}
#start, #next:hover {
    border-color: black;
}

.contols {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}